header {
  background-color: #393b3b;
  margin-bottom: 30px;
  height: 100px;
}
header img {
  float: left;
  margin-top: 15px ;
  margin-left: 60px;
}
header div {
  font-family: Arial, verdana, sans serif;
  color: white;
  display: inline;
  padding: 30px;
  text-align: center;
  float: left;
}
img.HeroImage {
  height: 450px;
  width: 960px;
  float: center;
  margin: 30px auto;
}

img.SubBanner1, img.SubBanner2, img.SubBanner3 {
  height: 375px;
  width: 300px;
  display: inline;
  padding: 30px;
  margin-bottom: 30px;
  float: right;
 }

td.img {
  float: left;
  padding: 30px;
  
}
td.description {
  border: 2px solid black;
  width: 480px;
  height: 400px;
  padding: 30px;
  margin: 0px;
}

button {
  background-color: black;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  transition-duration: 0.35s;
}

button:hover {
  background-color: red;
  color: yellow; 
}

footer {
  background-color: #393b3b;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
}